body{
  background: aquamarine;
}

h1 > span{
  display:none;
}

h1 > span.show{
  display: inline-block;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}